{% extends 'base.html' %}
{% load static %}
    
    {% block title %} All Settings of Routers Applicatin {% endblock %}        
    {% block main_heading %}  All Settings of Routers Applicatin  {% endblock %}
    {% block header_content %}  {% endblock %}
       
    {% block body %} 
    <table border="1" id="myTable">
        <tr>
            <th>No.</th>
                                      
        </tr>   
         
        <tr>
            <td>Show config Files's Dates in the Database</td>
            <td>Select on Date of them</td>
           
        </tr>  
        
    </table>         

    {% endblock %}