{% extends 'base/base.html' %}
{% load static %}

{% block title %} New Customer Allocation{% endblock %}

        
{% block main_heading %}
    <h2> Exist Free Vlans: </h2> 
          
    <td>{{ myfreevlan }}</td>
            <input list="browsers" placeholder="select a free VLAN">
            <datalist id="browsers">
            {% for item in Freevlan %}
                <option> {{ item }}  </option>
            {% endfor %}
            
{% endblock %}

    {% block body %}
                    <h2 class="card-title">Input A New Customer to Reserve</h2>
                    
                    <form action="" method="POST">
                        {% csrf_token %} 
                        
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        
                        <button type="submit" name="button_Reserve">Reserve</button>
                    </form> 
                
                    

        <h2> Exist Free Vlans: </h2> 
            <label for="cars">Choose free VLAN:</label>
            <select id="cars" name="cars" >
               
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
                    
            </select><br><br>
               
    {% endblock %}