{% extends 'base.html' %}
{% load static %}

{% block title %} Port Reserved{% endblock %}
{% block main_heading %}    {% endblock %}  

{% block body %} 
        <h1>List of All Reserved Ports( {{ membernumber }} items) </h1>
        
	      <label for="id_ID">Filter ID:</label>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for ID.." title="Type in a name">
        <hr/>

        {% if messages %}
          {% for message in messages %}
          <h1> {{ message }} </h1>
          {% endfor %}
        {% endif %}

        <style>
          table, th, td {
          border: 1px solid black;
          }
        </style>
        <table border="1" table id="myTable">
            <tr>
		        <th>No.</th>
            <th>Type of Service</th>
            <th>Router Name</th>
            <th>Interface Name</th>
            <th>Customer-ID</th>
            <th>User VLAN</th>
            <th>PE Vlan</th>
            <th>Description</th>                        
            <th>Customer-IP</th>
            <th>Encapsulation</th>
            <th>Date</th>
            <th>More Information</th>
            <th>Dayer</th>
            <th>Karbar</th>
            </tr>  
            <tr>
              {% for x in members %} 
                <tr>
		            <td>{{ forloop.counter }}</td>
                <td>{{ x.Service.name }}</td>
                <td>{{ x.Router }}</td>
                <td>{{ x.Newint }}</td>
                <td>{{ x.Peygiri }}</td>
                <td>{{ x.VLAN }}</td>
                <td>{{ x.PE }}</td>
                <td>{{ x.Des }}</td>
                <td>{{ x.IP }}</td>
                <td>{{ x.Encap }}</td>
                <td>{{ x.Date }}</td>
                <td>{{ x.Info }}</td>
                <td>{{ x.Dayer }}</td>
                <td>{{ x.theauthor }}</td>
                <td><a href="editreserve/{{ x.Peygiri }}"  class="btn btn-primary " >    Edit</a></td>
                 
            </tr> 
              {% endfor %}
        </table>

        <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[4];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
        </script>
            
        
{% endblock %}
