{% extends 'base.html' %}
{% load static %}

{% block title %} IP List{% endblock %}
{% block main_heading %}
{% endblock %}  

{% block body %} 
        <h1>List of All IPs: ( {{ membernumber }} items )</h1>
        <style>
            table, th, td {
            border: 1px solid black;
            }
        </style>
        
	      <label for="id_ID">Filter IP:</label>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for IP.." title="Type in a name">
        <hr/>
        
        <table border="1" table id="myTable">
          <thead>
            <tr>
		            <th>No.</th>
                <th>IP</th>
                <th>Subnet Mask</th>
                <th>Destination</th>
                <th>Router Name</th>
                <th>Interface</th>
                <th>Parvande</th>
                <th>Description</th>
                <th>IP Type</th>                           
            </tr>
          </thead>   
          <tbody>  
            {% for x in members %}  
                <tr>
		            <td>{{ forloop.counter }}</td>
                <td>{{ x.IP }}</td>
                <td>{{ x.Mask }}</td>
                <td>{{ x.Destination }}</td>
                <td>{{ x.Router }}</td>
                <td>{{ x.Int }}</td>
                <td>{{ x.Parvande }}</td>
                <td>{{ x.Description }}</td> 
                <td>{{ x.Type }}</td>
                </tr>  
            {% endfor %}
          </tbody>
        </table>

        <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
        </script>
            
        
{% endblock %}
